body{
	font-family: Georgia;
	margin: 0;
}

.wrapper{
	width: 100px;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;  
}
h1.logo{
	background-image: url (./applers34.png);
	background-repeat: no-repeat;
    width: 100px;
    text-indent: -100000px;
	float: left;
}
header nav{
	float: right;
}
header nav h2{
	text-index: -10000;
	height: 0;
	margin: 0;
}
header nav li{
	float: left;
	list-style-type: none;
	margin: 10px 20px;
}
header nav li a{
	text-decoration: none;
	color: #333;
	font-size: 18px;
}
